# Files
.dockerignore
.editorconfig
.gitignore
.env.example
.env
Dockerfile
Makefile
LICENSE
**/*.md
**/*_test.go
.releaserc.json
package.json
yarn.lock

# Folders
node_modules
.git/
.github/
build/
docs